<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://unpkg.com/@shopify/polaris@4.22.0/styles.min.css"/>
  </head>
  <body>
    
    <%= react_component("App") %>
  
 

   <h1>HELLO</h1>

    
 

    
    <%= @shop.data.shop.name %>
  <ul>
    <% @result.data.products.edges.each do |product| %>
      <li><%= product.node.title %></li>
      <li><%= product.node.price_range_v2.min_variant_price.amount %></li>
      
    <% end %>  
  </ul>

<%= @u %>

  </body>
</html>

